gitAdd.sh
*~
serial_port/RS-232/test_rx
serial_port/RS-232/test_tx
serial_port/receive_uart_fpga/logs
serial_port/receive_uart_fpga/logs*dat
serial_port/RS232_adaptado_adc/GNUPlot1/prog
serial_port/RS232_adaptado_adc/process/convert
serial_port/RS232_adaptado_adc/process/logs
serial_port/RS232_adaptado_adc/process/read
serial_port/RS232_adaptado_adc/process/scripts/convertAll.sh
serial_port/RS232_adaptado_adc/process/scripts/plotAll.sh
serial_port/RS232_adaptado_adc/receive/uart_rx
serial_port/RS232_adaptado_adc/v2/logs
serial_port/RS232_adaptado_adc/v2/uart_rx
serial_port/RS232_adaptado_adc/v3/logs
serial_port/RS232_adaptado_adc/v4(no_interaction)/uart_rx
serial_port/RS232_adaptado_adc/v4(no_interaction)/logs/