programming_files
./coregen-tmp
adc.ngc_xst.xrpt
adc_map.xrpt
adc_ngdbuild.xrpt
adc_par.xrpt
adc.mcs
adc.cfi
adc.prm
adc.bgn
adc.bit
adc.drc
adc_bd.bmm
adc_par.ncd
adc_par.par
adc_par.pad
adc_par_pad.csv
adc_par_pad.txt
adc_par.grf
adc_par.ptwx
adc_par.unroutes
adc_par.xpi
adc.ncd
adc.pcf
adc.ngm
adc.mrp
adc.map
smartguide.ncd
adc.psr
adc_summary.xml
adc_usage.xml
adc.ngd
adc.bld
xlnx_auto_0_xdb
adc.lso
adc.srp
netlist.lst
xst
adc.ngc
adc.prj
adc.scr
adc.post_map.twr
adc.post_map.twx
smartpreview.twr
adc.twr
adc.twx
smartpreview.twr
adc_err.twr
adc_err.twx
xst_report.log
adc.bin
_xmsgs
adc_bitgen.xwbt
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
